<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Krishi Mitra"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KrishiMitra"
        tools:targetApi="31">

        <activity android:name=".LanguageSelectionActivity" />
        <activity android:name=".TradersDetailsList" />
        <activity android:name=".FarmerRegistrationFrag" />
        <activity android:name=".AddLocation" />
        <activity android:name=".CropLanguage" />
        <activity android:name=".TraderProfileActivity" />
        <activity android:name=".FarmerProfileActivity" />
        <activity android:name=".ContactUsActivity" />
        <activity android:name=".TraderDetailsActivity" />
        <activity android:name=".TraderListActivity" />
        <activity android:name=".EditCropListingActivity" />
        <activity android:name=".ListCropActivity" />
        <activity android:name=".CropUploadActivity" />
        <activity android:name=".AdminDashboardActivity" />
        <activity android:name=".FarmerDashboardActivity" />
        <activity android:name=".TraderDashboardActivity" />
        <activity android:name=".FarmerRegistrationActivity" />
        <activity android:name=".TraderRegistrationActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>