<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KrishiMitra"
        tools:targetApi="31">
        <activity android:name="org.smartgrains.krishimitra.TraderSpecificDetailsActivity"
            android:exported="false"/>
        <activity android:name="org.smartgrains.krishimitra.MenuActivity"
            android:exported="false" />
        <activity android:name="org.smartgrains.krishimitra.FarmerProfileActivity"
            android:exported="false" />
        <activity android:name="org.smartgrains.krishimitra.TraderProfileActivity"
            android:exported="false" />
        <activity android:name="org.smartgrains.krishimitra.TraderListingsActivity"
            android:exported="false" />
        <activity android:name="org.smartgrains.krishimitra.TraderDetailsActivity"
            android:exported="false" />
        <activity android:name="org.smartgrains.krishimitra.CropListing"
            android:exported="false" />
        <activity
            android:name="org.smartgrains.krishimitra.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name="org.smartgrains.krishimitra.TraderDashboardActivity"
            android:exported="false" />
        <activity
            android:name="org.smartgrains.krishimitra.FarmerDashboardActivity"
            android:exported="false" />
        <activity
            android:name="org.smartgrains.krishimitra.TraderRegistrationActivity"
            android:exported="false" />
        <activity
            android:name="org.smartgrains.krishimitra.FarmerRegistrationActivity"
            android:exported="false" />
        <activity
            android:name="org.smartgrains.krishimitra.SignupPage"
            android:exported="false" />
        <activity
            android:name="org.smartgrains.krishimitra.LoginPage"
            android:exported="false" />
        <activity
            android:name="org.smartgrains.krishimitra.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>